.active {
  --bs-table-hover-bg: var(--bs-highlight-bg);

  --bs-table-accent-bg: var(--bs-table-hover-bg);
  --bs-table-striped-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

.wrap {
  :global {
    .accordion-button {
      flex-wrap: wrap;
    }
  }
}